<div>
  <div class="cd-card" [ngClass]="{'cdadded': theCd.onsale === true}">
    <h3>{{ theCd.title | uppercase}}</h3>
    <p>Sortie le : {{ theCd.releaseDate | date: 'dd/MM/yyyy'}}</p>
    <p>Auteur/Groupe : {{theCd.author}}</p>
    <p>Prix : {{theCd.price | currency: 'EUR'}}</p>
    <p>
      En stock : <span [ngStyle]="{ color: 'rgb(0, ' + theCd.quantity + ', 0)' }"> {{theCd.quantity}} </span>
      <button class="button" (click)="onAddCD()">Ajouter une unité</button>
    </p>
    <p *ngIf="idcd === undefined">
      <a routerLink="/cd/{{theCd.id}}" class="button" id="bDetail">
        Voir le détail
      </a>
    </p>
    <img [src]="theCd.thumbnail" [alt]="theCd.title" />
  </div>
</div>